<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>后台管理</title>
<link href="__PUBLIC__/ht/css/main.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="__PUBLIC__/ht/js/jquery.js"></script>
<script type="text/javascript" src="__PUBLIC__/ht/js/action.js"></script>
</head>
<body>
<div class="aaa_pts_show_1">【 回复评价 】</div>

<div class="aaa_pts_show_2">
    
    <div>
       <div class="aaa_pts_4"><a href="{:U('apply_content?id')}?id={reply['id']}">回复评价</a></div>
    </div>
    <div class="aaa_pts_3">
      <form action="{:U('reply_content')}" method="post" onsubmit="return ac_from();" enctype="multipart/form-data">
      <ul class="aaa_pts_5">
         <li>
            <div class="d1">ID:</div>
            <div>
              <input disabled="disabled" name="id" id="id" value="<?php echo $reply['id']; ?>"/>
            </div>
         </li>
         <li>
            <div class="d1">内容:</div>
            <div>
              <textarea name="reply" id="reply" cols="30" rows="10">{$reply['reply_content']}</textarea>
            </div>
         </li>
         <li><input type="submit" name="submit" value="提交" class="aaa_pts_web_3" border="0" >
            <input type="hidden" name="id" id="id" value="<?php echo $reply['id']; ?>">
         </li>
      </ul>
      </form>
         
    </div>
    
</div>
<script>
function ac_from(){

  var reply=document.getElementById('reply').value;
  
  if(!reply){
	  alert('请输入回复内容！');
	  return false;
	} 
}

</script>
</body>
</html>